<div #selector class="selector">
  <label for="shape">选择添加新的图形</label>
  <select id="shape" [(ngModel)]='shape' (ngModelChange)="addShape($event)">
    <option *ngFor="let type of typeKeys()" [ngValue]='type'>{{type}}</option>
  </select>
</div>


<div #container class="container">

  <div #start contenteditable="fasle" class="starter" (dblclick)='setNodeName($event)' [textContent]='model' (input)='model=$event.target.textContent'></div>
  <!-- <button disabled='{{ef}}'>sdjksdjks</button> -->
</div>
<pre>{{model}}</pre>
<!-- [textContent]="model" -->
<!-- (input)='model=$event.target.textContent' -->

