<div class='flow' #flow>
  <div class="flow-container" #flowContainer>
    <button style="position: absolute;left: 10px; top: 10px;" nz-button [nzType]="'dashed'" (click)="tryLinks()">链接</button>
    <button style="position: absolute;left: 10px; top: 50px;" nz-button [nzType]="'dashed'" (click)="autoSort()">排列</button>
    <button style="position: absolute;left: 10px; top: 90px;" nz-button [nzType]="'dashed'" (click)="reset()">重置</button>
    
    <svg class="flow-svg" #flowSVG>
      <svg:text
      [attr.x]="infoNode.x"
      [attr.y]="infoNode.y">
        坐标-X:{{mousePosition.x}}|Y:{{mousePosition.y}}
      </svg:text>
      <svg:g class="flow-graph" #flowGraph>
          <svg:g class="lines">
            <svg:path class="line" *ngFor="let line of flowLines" [attr.d]="line.d"></svg:path>
          </svg:g>
          <svg:g class="labels"></svg:g>
          <svg:g class="nodes">
            <svg:g class="node" *ngFor="let node of flowNodes"
            (mousedown)="onDragStart(node, $event)"
            (dblclick)="modifyName(node,$event)"
            (click)="modifyDetail(node,$event)"
            [attr.id]="node.id|| node.uuid"
            [attr.transform]="textTranslate(node.x,node.y)">
                <svg:rect class="entrance" *ngIf="node.dialogType == 0" 
                [attr.width]="60" 
                [attr.height]="30"
                [attr.rx]="10"
                [attr.ry]="10">
                </svg:rect>
                <svg:rect class="parameter" *ngIf="node.dialogType == 1" 
                [attr.width]="60" 
                [attr.height]="30"
                [attr.rx]="10"
                [attr.ry]="10">
                </svg:rect>
                <svg:polygon class="logic" *ngIf="node.dialogType == 2" 
                points="0,15 30,-5 60,15 30,35">
                </svg:polygon>
                <svg:rect class="action" *ngIf="node.dialogType == 3" 
                [attr.width]="60" 
                [attr.height]="30"
                [attr.rx]="10"
                [attr.ry]="10">
                </svg:rect>
                <svg:text text-anchor="middle"
                [attr.x]="30"
                [attr.y]="20"
                >{{node.name}}</svg:text>
            </svg:g>
    
          </svg:g>
      </svg:g>
     
    </svg>
    <!-- <svg:g></svg:g> -->
  </div>
  <div class="flow-pops" #flowPops></div>
</div>