<div class="entrance" *ngIf="currentType===0">
  <a href="javascript:;">
    <i class="anticon anticon-edit"></i>
  </a>
</div>
<div class="parameter" *ngIf="currentType===1">
   <ul>
     <li></li>
   </ul>
   <button nz-button [nzType]="'dashed'">
     <i class="anticon anticon-plus"></i>参数
   </button>
   <button nz-button [nzType]="'dashed'">
      <i class="anticon anticon-plus"></i>响应
    </button>
    <button nz-button [nzType]="'dashed'">
      <i class="anticon anticon-plus"></i>退出
    </button>
    <button nz-button [nzType]="'dashed'">
        <i class="anticon anticon-delete"></i>删除
    </button>
</div>
<div class="logic" *ngIf="currentType===2">
    logic
</div>
<div class="action" *ngIf="currentType===3">
    action
</div>
<div class="respond" *ngIf="currentType===4">
    respond
</div>
<div class="end" *ngIf="currentType===5">
    end
</div>
